/* GENERAL */
.main {
display: flex;
flex-direction: row;
margin: 1em;
  }

.gauche {
background-color: #CBCBCB;
flex-direction: column;
border: 1px inset; 
margin: 1em;
padding: 1em;
text-align: left;

}
.titre1{
  background-color: #E8E7E6;
  border: 1px inset;
  margin: 1em;
  padding: 1em;
flex-direction: column;

}
.centre {
background-color: #B1B1B1;
border-width:2px;
border-style:dotted;
border-color:black;
margin: 1em;
flex-direction: column;
padding: 2em;
margin-right: 1em;
}

.boitehaut{
  text-align: center;
  display: flex;
  background-color: #CBCBCB;
  border: 1px inset;
  margin: 1em;
  padding: 1em;
flex-direction: column;
}
.titrehaut{
  background-color: #E8E7E6;
  border: 1px inset;
  margin: 1em;
  padding: 1em;
flex-direction: column;
}
.textehaut{
  background-color: #CBCBCB;
  margin: 1em;
flex-direction: column;
}

.textebas{
  background-color: #CBCBCB;
  border: 1px inset;
  margin: 1em;
  padding: 1em;
  border: 1px inset;
flex-direction: column;

}

.droite {
background-color: #CBCBCB;
border: 1px solid #000;
margin: 1em;
flex-direction: column;
padding: 1em;
text-align: right;
}

.titredroit{
  background-color: #E8E7E6;
  border: 1px inset;
  margin: 1em;
  padding: 1em;
flex-direction: column;
text-align: center;


}



