/* GENERAL */
.main {
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: space-between;
  }

.gauche {
background-color: #CBCBCB;
border: 1px solid #000;
margin: 1em;
flex-direction: column;
padding: 1em;
text-align: left;
width: 160px;
height: 350px;

}
.titre1{
  background-color: #E8E7E6;
  border: 1px inset;
  margin: 1em;
  padding: 1em;
flex-direction: column;
text-align: center;


}
.centre {
background-color: #B1B1B1;
border-width:1px;
border-style:dotted;
border-color:black;
margin: 1em;
flex-direction: column;
padding: 1em;
margin-right: 1em;
width: 760px;
height: 450px;

}

.boitehaut{
  text-align: center;
  display: flex;
  background-color: #CBCBCB;
  border: 1px inset;
  margin: 1em;
  padding: 1em;
flex-direction: column;
}
.titrehaut{
  background-color: #E8E7E6;
  border: 1px inset;
  margin: 1em;
  padding: 1em;
flex-direction: column;
}
.textehaut{
  background-color: #CBCBCB;
  margin: 1em;
flex-direction: column;
}

.textebas{
  background-color: #CBCBCB;
  border: 1px inset;
  margin: 1em;
  padding: 1em;
  border: 1px inset;
flex-direction: column;

}

.droite {
background-color: #CBCBCB;
border: 1px solid #000;
margin: 1em;
flex-direction: column;
padding: 1em;
text-align: right;
width: 160px;
height: 350px;
}

.titredroit{
  background-color: #E8E7E6;
  border: 1px outset;
  margin: 1em;
  padding: 1em;
flex-direction: column;
text-align: center;

}

.piedpage {
  width:1250px;
  height:150px;
  padding: 1em;
  margin: 1em;
  background-color:#CBCBCB;
  }

  .titrepied{
 background-color: #E8E7E6;
  border: 1px outset;
  margin: 1em;
  padding: 1em;
flex-direction: column;
text-align: center;
 width:1200px;
  height:20px;

}




